<h1>Restaurants</h1>


<div class="row">
  <% @cuisines.each do |cuisine| %>
      <div class="col-md-3">
        <h3>
          <%= link_to cuisine.title, cuisines_show_path(cuisine.id) %> <br/>
        </h3>
        <%= image_tag cuisine.image.url(:thumb) %> <br/>
      </div>
  <% end %>
</div>

