<div class="media">
  <div class="media-left">
    <%= image_tag @cuisine.image.url(:thumb) %>
  </div>
  <div class="media-body">
    <h3> <%= @cuisine.title.capitalize %>  </h3>

    <%= @cuisine.description %>

  </div>
</div>
<br/>

<%= form_for :cart, :url => { :action => 'add' } do |f| %>
<table class="table table-striped">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity:</th>
      </tr>

      <% counter = 0 %>
      <% @cuisine.foods.each do |food| %>
          <tr>
            <% counter += 1 %>
            <td><%= food.id %> </td>
            <td><%= food.title %></td>
            <td><%= food.description %></td>
            <td><%= food.price %></td>
            <td>
              <%= f.select food.id, (0..10) %>
            </td>
          </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
      <% end %>
      <%= f.submit 'Add to cart', class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
</table>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><h3>In your cart: </h3></h3>
      </div>
      <div class="panel-body">
          <table class="table table-striped">
            <tr>
              <th>Title</th>
              <th>Quantity</th>
            </tr>
            <% session[:order].each do |cart_food| %>
                <% cart_food.each do |key, val| %>
                    <% @food.each do |food| %>
                        <% if food.id == key.to_i %>
                        <tr>
                          <td>
                            <%= food.title %>
                          </td>
                          <td><%= val %></td>
                        </tr>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
          </table>
        <%= link_to 'clear cart', cuisines_clear_path, class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
  </div>
</div>