<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Restaurants', root_path, class: 'navbar-brand' %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="navbar-nav navbar-right">
          <% if user_signed_in? %>
              <p class="navbar-text">
                Hello, <%= link_to current_user.name, edit_user_registration_path(current_user), class: 'navbar-link' %>
              </p>
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                        <li><%= link_to 'Admin Panel', admin_root_path %></li>
                    <% end %>
                    <li><%= link_to 'Edit profile', edit_user_registration_path(current_user) %></li>
                    <li><a href="#">View orders</a></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              </ul>
          <% else %>
              <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-default navbar-btn' %>
              <%= link_to 'Log in', new_user_session_path, class: 'btn btn-default navbar-btn' %>
          <% end %>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>