<!DOCTYPE html>
<html>
<head>
  <title>Foods</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/admin/navbar' %>

<div class="container">
  <div class="jumbotron">

    <%= yield %>

  </div>

</div>


</body>
</html>
